In [ ]:
# importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels
import matplotlib.pyplot as plt
import math

In [2]:
# loading the dataset
flight = pd.read_csv('flight.csv', sep=',')
flight.head()

,miles,passengers,delay,inflight_meal,inflight_entertainment,inflight_wifi,day_of_week,redeye,weekend,coach_price,firstclass_price,hours
0,792,172,0,No,Yes,Yes,Sunday,Yes,Yes,338.820,1571.02,1
1,3163,214,0,No,Yes,Yes,Sunday,No,Yes,472.655,1663.70,6
2,1832,212,0,No,Yes,No,Friday,No,Yes,351.960,1429.86,3
3,925,213,0,No,Yes,Yes,Saturday,No,Yes,387.835,1558.76,2
4,967,217,0,Yes,Yes,Yes,Monday,No,No,374.735,1245.58,2

In [6]:
# inspecting the dataset
print(flight.shape)
print(flight.columns.to_list())
flight.info()

(129780, 12)
['miles', 'passengers', 'delay', 'inflight_meal', 'inflight_entertainment', 'inflight_wifi', 'day_of_week', 'redeye', 'weekend', 'coach_price', 'firstclass_price', 'hours']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129780 entries, 0 to 129779
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   miles                   129780 non-null  int64
 1   passengers              129780 non-null  int64
 2   delay                   129780 non-null  int64
 3   inflight_meal           129780 non-null  object
 4   inflight_entertainment  129780 non-null  object
 5   inflight_wifi           129780 non-null  object
 6   day_of_week             129780 non-null  object
 7   redeye                  129780 non-null  object
 8   weekend                 129780 non-null  object
 9   coach_price             129780 non-null  float64
 10  firstclass_price        129780 non-null  float64
 11  hours                   129780 non-null  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 11.9+ MB

## Univariate Analysis

In [ ]:
# 1